body{
  background-image:linear-gradient(to bottom left,#216e93,#21648a,#1f5881,#172d5b,#191c51);
  /* background-image:linear-gradient(to top right,silver, white); */
  color:white;
  height:100vh;
  width:100vw;
  overflow: hidden;
  text-transform: uppercase;
}

div [class*='col-']{
  padding: 15px 15px 15px 15px;
}

.tint {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(98, 98, 98, 0.1); /*can be anything, of course*/
  z-index: -999;
}

#sidebar {
  position: relative;
  height: 100vh;
  bottom: 0;
  left: 0;
  background-color: rgba(22, 23, 36,.6);
  padding: 15px 0 15px 0;
  text-align:center;
  background-image: url('../images/campus.png');
  background-size:cover;
  z-index: 1;
}

.sidebar .button{
  height: 5%;
}

.sidebar a{
  text-decoration: none;
  text-align: justify;
  padding-left: 25%;
}

.section-header{
  background-color: rgb(1, 57, 105);
  width:100%;
  padding: .3em .3em .3em .3em;
}



h3{
  text-align:center;
  font-size: 2em;
  color: white;
  font-weight:600;
}

.section-body{
  background-color: rgba(255, 255, 255, 0.1);
  width:100%;
  padding: 1em 1em 1em 1em;
  max-height: 100%;
}

.offline{
  color:rgb(255, 59, 10);
} 

.online{
  color:#01FF70;
} 

#tv_video{
  width: 100%;
  max-height: 100%;
}

#status {
  /* text-align:justify; */
  font-size: 1.5em;
  padding-left: 25%;
  /* overflow: scroll; */
  /* max-height: 600px; */
}

#status p{
  display:inline;
}

/*-------------- form-------------- */

.form-control{
  background-color: transparent;
  border: 1px solid #c2e1ff;
  color:white;
  max-width:12vw;
  
}

.form-control:focus{
  background-color: transparent;
  color:white;
}

#form_container{
  color:black;
}

option { 
  background-color: rgb(1, 57, 105);
}

form div,.form-control{
  display: inline;
}

 .alert {
  border-radius: 5px;
}
.alert .icon {
  margin-right: 10px;
}
.alert .close {
  color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.alert .close:hover {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.alert h5 {
  color: white;
  text-decoration: underline;
  text-align: center;
}
.alert-success {
  width: auto;
  height: auto;
  background: #008d4c;
  margin-top: 200px;
}
.alert-danger,
.alert-error {
 width: auto;
 height: auto;
 background: red;
 margin-top: 200px;
}

/* FOR UPLOAD BAR ON INDEX */

.col-form-label {
  color: white;
  font-weight: bold;
}

/* FOR DROPDOWN SEARCH BAR */
.dropbtn {
  background-color: #4CAF50;
  color: rgba(0, 0, 255, 0.418);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

div [class*='col-']{
  padding: 15px 15px 15px 15px;
}

.buttonlink{
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:100px;
	height:50px;
	background:#666;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
  font-weight:900;
}
.buttonlink:hover{
	border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

table,tbody, #test{
  height:25vh !important;
  overflow-y: scroll;
}

td{
  padding: 0 0 0 0 !important;
}

