{% extends 'video_upload/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated%}

<div class="col-12">

    <div class="section-header">
        <h3>Edit IP for {{edit.tv_name}}</h3>
    </div>
    <div class="section-body">
        <form id="edit" action="" method="POST">
            {% csrf_token %}
            {{ form.tv_ip|as_crispy_field }}
            <button type="submit" class="btn btn-primary">Confirm</button>
            </button>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>



{% else %}
<script>
    window.location.href = "../accounts/login/"
</script>
{% endif %}
{% endblock %}