{% extends 'video_upload/layout.html' %}
<!-- Links layout.html as a HTML template -->
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated%}

<div class="row">

    <div class="col-2 sidebar">
        <div class='tint'> </div>
        <div id="barheader">
<br>
            <h5>Welcome back, <br> Joe</h5>
        </div>
        <a href="{% url 'logout' %}">logout</a> <!-- log OUT button -->

    </div>

    <div class="col-10">
        <br> <br> <br>
        <div class="row">
            <div class="col-12">
                <div class="card-deck">
                    <div class="card rounded">
                        <div class="card-header">STATUS</div>
                        <div class="card-body">    
                        {% if response == 0 %}
                        TV 1 <span class="dot dot-online"></span>
                        {% else %}
                        TV 1 <span class="dot dot-offline"></span>
                        {% endif %} <br>
                        {% if response2 == 0 %}
                        TV 2 <span class="dot dot-online"></span>
                        {% else %}
                        TV 2 <span class="dot dot-offline"></span>
                        {% endif %} <br>
                        {% if response3 == 0 %}
                        TV 3<span class="dot dot-online"></span>
                        {% else %}
                        TV 3 <span class="dot dot-offline"></span>
                        {% endif %} <br>
                        {% if response4 == 0 %}
                        TV 4<span class="dot dot-online"></span>
                        {% else %}
                        TV 4 <span class="dot dot-offline"></span>
                        {% endif %}
                        </div>
                    </div>
<!-- view existing videos pane -->
                    <div class="card">
                        <div class="card-header">View</div>
                        <div class="card-body">
                            <form>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                        Select a TV
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="video1">TV 1</a>
                                        <a class="dropdown-item" href="video2">TV 2</a>
                                        <a class="dropdown-item" href="video3">TV 3</a>
                                        <a class="dropdown-item" href="video4">TV 4</a>
                                    </div>
                                </div>
                                <br>
                                {% comment %} <video id="tv_video" width="420" height="315" controls="controls" autoplay loop>
                                    <source id="player" src="" type="video/mp4" />
                                </video> {% endcomment %}
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br> <br>

        <div class="row">
            <div class="col-12">
                {% comment %} <div class="container"> {% endcomment %}
                <div class="card">
                    <div class="card-header">Upload</div>
                    <div class="card-body">
                    <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Upload</button>
                        </p>
                    </form>
                    </div>
                </div>
            </div>
        </div>


        {% else %}
        <script>
            window.location.href = "../accounts/login/"
        </script>
        {% endif %}
        {% endblock %}

        {% comment %}
        <div class="row">
            <div class="col-2"> </div>
            <div class="col-10">

                <h1>Upload</h1>

                <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-primary">Upload</button>
                    </p>
                </form>
            </div>
        </div> {% endcomment %}