{% extends 'video_upload/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated%}

<div class="container-fluid">
    <div class="row">
        <div class="col-2 sidebar" id="sidebar">
            <div class='tint'> </div>
            <h5>Welcome back, <br> Joe</h5>
            <a class="w3-button w3-hover-white w3-block"  href="{% url 'index' %}">Home</a>
            <a class="w3-button w3-hover-white w3-block"  href="{% url 'add_tv' %}">Add a TV</a>
            <a class="w3-button w3-hover-white w3-block"  href="{% url 'delete_tv'%}">Delete a TV</a>
            <a class="w3-button w3-hover-white w3-block"  href="{% url 'logout' %}">Logout</a>
                
        </div>
        <div class="col-10">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-12">

                        <div class="section-header">
                            <h3>Upload</h3>
                        </div>
                        <div class="section-body">
                            <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </form>
                        </div>

                    </div>

                </div>
              
                <div class="row row-eq-height">

                    <div class="col-3">

                        <div class="section-header">
                            <h3>Status</h3>
                        </div>
                        <div id="status" class="section-body">
                        {% for response in responses %}
                            {{response.0}} {# tv name #}
                            {% if response.1 == 0 %} {# tv ip #}
                                 <i class="fa fa-power-off online"></i>
                            {% else %}
                                <i class="fa fa-power-off offline"></i>
                            {% endif %} 
                            {% with tv_name=response.0 %}
                            <span onclick="preview_video('{{ tv_name }}')" class="fa fa-play-circle"></span> <br>
                            {% endwith %}
                        {% endfor %}
                        </div>

                    </div>

                    <div class="col-9">
                        <div class="section-header">
                            <h3>Preview</h3>
                        </div>
                        <div class="section-body">
                            <video id="tv_video" controls autoplay loop>
                                <source id="player" src="" type="video/mp4" />
                                video not supported by this browser.
                            </video>
                        </div>
                    </div>

                     {% if upload_status == "success" %}
            <div class="alert alert-success">
                <strong>Success!</strong>Video was added.
            </div>
            {% elif upload_status == "fail" %}
            <div class="alert alert-danger">
                <strong>Error!</strong>Video was not successfully added.
            </div>
            {% elif upload_status == "offline" %}
            <div class="alert alert-danger">
                <strong>Error!</strong>TV is offline.
            </div>
            {% endif %}

                </div>

            </div>
        </div>
    </div>
</div>

<script>
     function preview_video(video) {
        document.getElementById('tv_video').src = "../../media/videos/" + video + ".mp4";
        console.log("playing", video);
    }
</script>
{% else %}
<script>
    window.location.href = "../accounts/login/"
</script>
{% endif %}
{% endblock %}