{% load staticfiles %}
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 sidebar" id="sidebar">
                <div class='tint'> </div>
                {% if user.is_authenticated %}
                <h5>Welcome, <br> {{user.get_username}}</h5>
                {% endif %}

                <a class="w3-button w3-hover-white w3-block" href="{% url 'index' %}"><i class="fas fa-home"></i>
                    Home</a>
                <a class="w3-button w3-hover-white w3-block" href="{% url 'add_tv' %}"><i class="fas fa-tv"></i> Add
                    TV</a>
                <a class="w3-button w3-hover-white w3-block" href="{% url 'config_tv'%}"><i class="fas fa-cogs"></i>
                    Configure TV</a>
                <a class="w3-button w3-hover-white w3-block" href="{% url 'logout' %}"><i
                        class="fas fa-sign-out-alt"></i> Logout</a>

                {% if messages %}
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-10">
                <div class="container-fluid">
                    <div class="row">
                        {% block content%}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <!--ICONS-->
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>

</body>

</html>