{% extends 'video_upload/layout.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated%}


{% if upload_status == "success" %}
<div class="alert alert-success alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5> <b>Success!</b> TV was added. </h5>
</div>
{% elif upload_status == "fail" %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><b>Error!</b> TV was not successfully added.</h5>
</div>
{% elif upload_status == "offline" %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h5><b>Error!</b> TV is offline.</h5>
</div>
<div>
    {% endif %}
</div>


<div class="bg"> </div>
<div class="col-10">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section-header">
                    <h3>Add a TV</h3>
                </div>
                <div class="section-body">
                    <form method="post" action="" enctype="multipart/form-data">{% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
</div>

{% else %}
<script>
    window.location.href = "../accounts/login/"
</script>
{% endif %}
{% endblock %}