{% extends 'video_upload/layout.html' %} <!-- Links layout.html as a HTML template -->

{% block content %}

    {% for video in videos %}
        {{video.file_name}}
    {% endfor %}

    <h1>Video Uploader</h1>
        <form enctype="multipart/form-data" method="POST" action="">
        {%csrf_token%}
        {{form.as_p}}
            <input type="submit" value="upload"/>
            </form> 

            <br><br>
            <video width='400'controls>
            <source src='{{MEDIA_URL}}{{videofile}}' type='video/mp4'>
            Your Browser does not support the video tag.
            </video>
            <br><br>
        </p>
{% endblock %}