{% extends 'video_upload/layout.html' %} <!-- Links layout.html as a HTML template -->
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    {% if user.is_authenticated%}    <!--check for login-->
        <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}  <!--crisp af form -->
    <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <a href="{% url 'logout' %}">logout</a> <!-- logOUT button -->
    {% else %}
        <p>You are not logged in</p>
        <a href="{% url 'login' %}"> Login </a> <!-- logIN button -->
{% endif %}
{% endblock %}